<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load thumbnail %}

<html lang="ru">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{% block description %}{% endblock %}" />
<meta name="keywords" content="{% block keywords %}{% endblock %}" />
<meta name="HOME_URL" content="{{ home_url }}" />
<meta name="ROBOTS" content="ALL" />
<meta name="revisit-after" content="2days" />
<meta name="Document-state" content="Dynamic" /> 

<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="/style/main.css" />
<link rel="stylesheet" type="text/css" href="/style/print.css" media="print" />
<link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
<link rel="shotcut icon" type="image/x-icon" href="/img/favicon.ico"/>

<script type="text/javascript" src="/js/common.js"></script>

</head>
<body>
    <div id="wrapper">
        <div id="topmenu">
            <a class="topmenuborder" href="/tech/">Статьи</a><a class="topmenuborder" href="/delivery/">О Доставке</a><a class="topmenunoborder" href="/contacts/">Контакты</a>
            <div onmouseover="basket_do(this.id)" onmouseout="basket_undo(this.id)" id="bs">
			    <span class="topmenubasket"><img src="/img/cart.png" height="15" width="30">Корзина <!--# include virtual = "/minibasketq/" --></span>
				<div class="menuoff" id="0bs">
				    <!--# include virtual = "/minibasket/" -->
					<!--# include virtual = "/minibasketbuy/" -->
				</div>
			</div>
        </div>
        <div id="logo">
            <a href="http://www.tema-packs.ru"><img src="/img/logo.png"></a>
        </div>
        <div id="tel">
            <span>(495)604-42-26</span><br>
            <span>(495)790-36-68</span>
        </div>
        <div id="menu">
            {% for pr in prs %}
            <div onmouseover="menu_do(this.id)" onmouseout="menu_undo(this.id)" id="{{ forloop.counter }}">
                <span class="menuborder"><a href="/catalog/{{ pr.id }}/0/0/0/">{{ pr.name }}</a></span>
                <div class="menuoff" id="0{{ forloop.counter }}">
                    {% for cat in cats %}
                    {% if cat.parent == pr %}
                    <a href="/catalog/{{ pr.id }}/{{ cat.id }}/0/0/"><p>{{ cat.name }}</p></a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div onmouseover="menu_do(this.id)" onmouseout="menu_undo(this.id)" id="b">
                <span>Наши бренды</span>
                <div class="menuoff" id="0b">
                    {% for br in brs %}
                    <p><a href="/brand/{{ br.id }}/0/">
                        {% thumbnail br.articles.all.0.images.all.0.photo "20x20" as thumb %}
                        <img onclick="" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ good.name }}" />   
                        {% endthumbnail %}
                        {{ br.name }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
		<div id="filter">
		    {% block filter %}
            {% endblock %}
		</div>
        <div id="content">
            {% block content %}
            <p>page doesn't exist!</p>
            {% endblock %}
        </div>
    <div class="clear">
    </div>
    <div id="footer">
      {% block footer %}
           <a href="mailto:unforgiven8@yandex.ru">Created by ©Golubka</a>
		   
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
var yaParams = {/*Здесь параметры визита*/};
</script>
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21314338 = new Ya.Metrika({id:21314338,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,params:window.yaParams||{ }});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21314338" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

      {% endblock %}
    </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5935219-7', 'tema-packs.ru');
  ga('send', 'pageview');

</script>
</body>

</html>
