
{% extends "base.html" %}

{% load thumbnail %}

{% block keywords %}купить, {{ good.name }}, {{ good.category }}, {{ good.brand }} {% endblock %}

{% block title %}Купить {{ good.name }} {{ ggod.category }} {{ good.brand }} - ТЕМА: Outdoor Style{% endblock %}

{% block content %}
{% if good.available and S == 4 %}
<div id="trace" class="inf">
    <img src="/img/back.png" width="20" height="10" /><a href="/catalog/{{ good.category.parent.id }}/0/0/0/">{{ good.category.parent.name }}</a> / <a href="/catalog/{{ good.category.parent.id }}/{{ good.category.id }}/0/0/">{{ good.category.name }}</a> / <a href="/catalog/{{good.category.parent.id }}/{{ good.category.id }}/{{good.brand.id }}/0/">{{ good.brand.name }}</a>
</div>
<table id="good">
    <colgroup>
        <col width="300">
        <col width="270">
		<col width="170">
    </colgroup>
    <tr>
        <td id="goodphoto">   
            {% thumbnail good.image_set.all.0.photo "300x300" as thumb %}
                <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ good.name }}" href="#" onclick="photo_do('/good/{{ good.id }}', '/{{ good.image_set.all.0.photo }}')" id="photo"> 
            {% endthumbnail %}
        </td>
        <td>
		    <div id="goodname">{{ good.name }}</div>
			<span class="goodchar">Артикул:</span>{{ good.art }}
			<br>
			<span class="goodchar">Бренд:</span>{{ good.brand.name }}
			<br>
			{% for char in chars %}
			    {% if char == '' %}{% else %}
                <br><span class="goodchar">{{ char.option }}:</span>{{ char.value }}
				{% endif %}
            {% endfor %}
	    </td>
		<td>
		    <div id="tobasket">
		    <div class="goodprice">{{ good.price }} р.</div>
			<div class="goodbuy"><a href="/buy/{{ good.id }}"><img src="/img/cart.png" height="15" width="30"> В корзину</a></div>
			<div class="goodchar">Доставка (Москва):</div>{% if good.old %}2-3 дня{% else %}1-2 дня{% endif %}
			<div class="goodchar">Самовывоз:</div>{% if good.old %}2-3 дня{% else %}сегодня{% endif %}
			<br><br>
			<div class="inf"><a href="/delivery/#.moscow">о доставке по Москве</a><br><a href="/contacts/">пункты самовывоза</a><br><a href="/delivery/#.regions">о доставке в регионы</a>
			</div>
		</td>
    </tr>
	<tr><td colspan="3">{{ good.desc|safe }}</td></tr>
</table>
  {% else %}
    <p>К сожалению, в настоящее время данный товар отсутствует</p>
  {% endif %}
{% endblock %}

